body {
	background-color: #3F000F;
	color: #fff;
	font-family: Arial, sans-serif;
	margin: 15px;
	line-height: 200%;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline; 
}
h2 {
	text-transform: uppercase;
	font-size: 1em;
	text-decoration: underline; 
}
a {
	color:  teal;
	font-style: italic;
}
ul {
	font-style: italic;
}
ol {
	font-style: italic;
}